<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Joke</title>
    <link href="/../stylesheets/bootstrap.css" rel="stylesheet">
  </head>
  <body>

    <div class="container">
      <h1>Add Your Joke</h1>
        <form action="add" method="post">
          <div class="form-group">
            <input type="text" class="form-control" name="name" id="name" placeholder="Enter Joke Name">
          </div>
            <textarea class="form-control" name="description" rows="8" cols="80" placeholder="Enter Your Joke :D"></textarea><br>
            <input type="submit" value="Save" class="btn btn-primary">
        </form>
    </div>

  </body>
</html>
